<h1>Eat A burger</h1>

<h2>Customers that are not hungry </h2>

<ul>
  {{#each customer}}
    {{#unless hungry}}
      <li>
	      {{type}}
	      <button class="change_nothungry" data-id="{{id}}" data-eat="{{EAT}}">
		      {{#if hungry}}Don't Eat{{else}}EAT{{/if}}
	      </button>
      </li>   
    {{/unless}}
  {{/each}}
</ul>

<h2>customers hungry</h2>

<ul>
  {{#each customer}}
    {{#if hungry}}
      <li>
	      {{type}}
	      <button class="change_hungry" data-id="{{id}}" data-eat=""="{{EAT}}">
		      {{#if hungry}}Don't Eat{{else}}EAT{{/if}}
	      </button>
      </li> 
    {{/if}}
  {{/each}}
</ul>

<h2>Add Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Type Burger</label>
    <input type="text" id="burgers" name="type">
  </div>

  <div class="form-group">
    <label for="burgers">Hungry?</label><br>
    <input type="radio" name="burger" value="1" checked> Hungry?<br>
    <input type="radio" name="burger" value="0"> Not Hungry
  </div>

  <button type="submit">Add Burger</button>
</form>